body {
  font-family: "Arial", sans-serif;
}

#timer {
  margin: 25px 0;
}

.digits {
  font-size: 200px;
  line-height: 200px;
}

.unit {
  font-size: 100px;
  line-height: 100px;
  margin: 0 10px;
}

#motion {
  font-size: 50px;
}

#motion, #motion-controls, #timer {
  text-align: center;
}

.progress {
  margin: 25px auto;
}

.progress-bar {
  animation-name: progressbar;
  animation-play-state: paused;
  animation-timing-function: linear;
  transition: none;
  width: 100%;
}

@keyframes progressbar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
