body {
  font-family: "Arial", sans-serif;
}

#fullscreen-container {
  background: #fff;
  width: 100%;
  height: 100%;
}

#timer {
  margin: 25px 0;
}

.digits {
  font-size: 200px;
  line-height: 200px;
}

.unit {
  font-size: 100px;
  line-height: 100px;
  margin: 0 10px;
}

#motion {
  font-size: 50px;
}

#motion, #motion-controls, #timer {
  text-align: center;
}

.progress {
  margin: 25px auto;
}

.progress-bar {
  transition: none;
}
